body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    box-shadow: 1px 1px 10px gray;
    display: flex;
    flex-direction: column;/*child elements are stacked vertically.*/
    align-items: center;
    justify-content: center;/*child elements are stacked vertically.*/
    height: 450px;
    width: 250px;
    padding: 15px;
    border-radius: 20px;/*Makes the corners rounded.*/
    font-size: 40px;/*Sets the size of text inside the container.*/
}
.number{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;/*4 equal columns for number buttons.*/
    height: 80%;
    width: 100%;
    gap: 10px;
}
.ecran{
    color: white;
    height: 20%;
    text-align: right;
    width: 100%;
}
button{
    border-radius: 50%;
    background-color: #555555;
    color: white;
    border: none;
    font-size: 15px;
}
btn0{
    grid-column: 1/3;
    border-radius: 50px;
}
.orange{
    background-color: orange;
}
.ecran{
    text-align: right;
    width: 100%;
}